<h1>BMW Dealership Management System</h1>

<!--<input type="text" [(ngModel)]="searchTerm" (input)="search()" placeholder="Search by Make or Model">-->
<!--<section>
  <h3>Search</h3>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <input type="text" placeholder="Search By ID" [(ngModel)]="vehicleWork.id" name="id"/>
    <button type="button" (click)="searchVehicles()">Search</button>
  </form>
</section>-->

<br />

<label for="vehicleId">ID: </label>
<input id="vehicleId" type="number" [formControl]="vehicID" />
<label for="Make">Make: </label>
<input id="Make" type="text"/>
<label for="Model">Model: </label>
<input id="Model" type="text"/>
<label for="Price">Price: </label>
<input id="Price" type="number"/>
<button type="button" (click)="updateVehicle()">Update Vehicle</button>

<!--<section>
  <h3>Update</h3>
  <form (ngSubmit)="updateVehicleForm(f)" #f="ngForm" novalidate>
    <div class="main">
      <div class="input-fields">
        <input NgModel name="vehicleId" type="number" class="input-field" />
      </div>
      <div class="input-fields">
        <input ngModel name="make" type="text" class="input-field" />
      </div>
      <div class="input-fields">
        <input NgModel name="model" type="text" class="input-field" />
      </div>
      <div class="input-fields">
        <input NgModel name="Price" placeholder="Price" id="Price" type="number" class="input-field" />
      </div>
      <button>Update Vehicle</button>
    </div>
  </form>
</section>-->

<br />

<!--<section>
  <h3>Delete</h3>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div>
      <input type="number" placeholder="Delete By ID" [(ngModel)]="vehicleWork.id" name="id"/>
      <button type="button" (click)="deleteVehicle()">Delete</button>
    </div>
  </form>
</section>-->
<!--<form #f="ngForm">
  <div class="my-1">
    <label for="exampleFormControlInput1" class="form-label" align="center">Make</label>
    <input type="Make"
           class="form-control"
           id="exampleFormControlInput1"
           name="Make : "
           [(ngModel)]="inputValues.Make">
  </div>

  <div class="my-1">
    <label for="exampleFormControlInput2" class="form-label" align="center">Model</label>
    <input type="Model"
           class="form-control"
           id="exampleFormControlInput2"
           name="Model : "
           [(ngModel)]="inputValues.Model">
  </div>

  <div class="my-1">
    <label for="exampleFormControlInput3" class="form-label" align="center">Price</label>
    <input type="Price"
           class="form-control"
           id="exampleFormControlInput3"
           name="Price : "
           [(ngModel)]="inputValues.Price">
  </div>

  <button class="btn btn-primary" (click)="updateVehicle()">Update</button>

</form>-->
<!--<section>
  <form>
    <input type="text" placeholder="Update By ID" [(ngModel)]="id">
    <button type="button" (click)="updateVehicle()">Update</button>
  </form>
</section>-->

<table class="table table-striped" *ngIf="vehicleModels.length > 0">
  <thead>
    <tr>
      <th>Vehicle ID</th>
      <th>Series</th>
      <th>PriceInclusive</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicleModels">
      <td>{{ vehicle.id }}</td>
      <td>{{ vehicle.series }}</td>
      <td>{{ vehicle.priceInclusive | currency }}</td>
      <td>{{ vehicle.price | currency }}</td>
    </tr>
  </tbody>
</table>

<p *ngIf="vehicleModels.length === 0">No data available.</p>
