<h1>BMW Dealership Management System</h1>

<!--<input type="text" [(ngModel)]="searchTerm" (input)="search()" placeholder="Search by Make or Model">-->
<section>
  <form>
    <input type="text" placeholder="Search By ID" [(ngModel)]=".id">
    <button type="button" (click)="searchVehicle()">Search</button>
  </form>
</section>

<table class="table table-striped" *ngIf="vehicleModels.length > 0">
<p *ngIf="!forecasts?.length"><em>Loading...</em></p>

<section>
  <form>
    <input type="text" placeholder="Filter">
    <button class="primary" type="button">Search</button>
  </form>
</section>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts.length">
  <thead>
    <tr>
      <th>Vehicle ID</th>
      <th>Series</th>
      <th>PriceInclusive</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicleModels">
      <td>{{ vehicle.id }}</td>
      <td>{{ vehicle.series }}</td>
      <td>{{ vehicle.priceInclusive | currency }}</td>
      <td>{{ vehicle.price | currency }}</td>
    </tr>
  </tbody>
</table>

<p *ngIf="vehicleModels.length === 0">No data available.</p>
