alert-warning {
  --bs-alert-color: blue;
  --bs-alert-bg: orange;
  --bs-alert-border-color: orange;
}

form {
  margin-top: 5em;
  margin-left: 60px;
  margin-right: 80px;
  //text-align:center
  border-block: inset;
  border-block-end-width: thick;
}
